{% include 'navbar.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

<div class="container">

    {% if search_query %}
        <h1 class="section-title">Search Results for "{{ search_query }}"</h1>
    {% else %}
        <h1 class="section-title">My Recipes</h1>
    {% endif %}
        
    <form action="/search" method="GET" class="search-bar">
        <input 
            type="text" 
            name="q" 
            placeholder="Search recipes..." 
            value="{{ request.args.get('q', '') }}"
        >
        <button type="submit">Search</button>
    </form>

    <div class="grid">
        {% for r in recipes %}
            <a class="recipe-card" href="/recipe/{{ r[0] }}">
                <div class="image-wrapper">
                    {% if r[2] %}
                        <div class="recipe-image-bg" style="background-image: url('{{ r[2] }}');"></div>
                    {% else %}
                        <div class="placeholder"></div>
                    {% endif %}
                    <div class="overlay">
                        <h3>{{ r[1] }}</h3>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <h1 class="section-title">Favorited Recipes</h1>

    <div class="grid">
        {% for r in favorites %}
            <a class="recipe-card" href="/recipe/{{ r[0] }}">
                <div class="image-wrapper">
                    {% if r[2] %}
                        <div class="recipe-image-bg" style="background-image: url('{{ r[2] }}');"></div>
                    {% else %}
                        <div class="placeholder"></div>
                    {% endif %}
                    <div class="overlay">
                        <h3>{{ r[1] }}</h3>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

</div>
